body{
    margin: 0;
}
form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 20px;
}
h1{
    text-align: center;
}
.form-section{
    border: 1px solid rgb(177, 177, 177);
    padding: 10px;
}
ul{
    padding: 0;
}
p{
    display: grid;
    grid-template-columns: 0.15fr 0.20fr 1fr;
    justify-content: space-between;
}
p > label{
    grid-column: 1/4;
}
li{
    display: grid;
    grid-template-columns: 1fr 1fr 0.05fr;
    justify-content: space-between;
}
li > label{
    grid-column: 1/3;
}
input[type="radio"], input[type="checkbox"]{
    width: 20px;
    height: 15px;
}
input[type="text"], select, input[type="tel"], input[type="email"], input[type="date"], input[type="password"]{
    height: 25px;
}
textarea{
    grid-column: 1/4;
}
progress{
    grid-column: 4;
    grid-row: 1;
}
select{
    grid-row: 1;
    grid-column: 4;
}
#botones{
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    margin: auto;
    gap: 20px;
}
#botones > button{
    width: 150px;
    height: 40px;
    margin: auto;
}
@media (max-width: 881px){
    form{
        width: 95%;
    }

}
@media (max-width: 740px){
    form{
        width: 100%;
        gap: 5px;
    }
    input[type="file"]{
        width: 100px;
    }

}
@media (max-width: 481px){
    form{
        grid-template-columns: 1fr;
    }
    #botones{
        grid-column: 1;
    }
}