body{
    margin: 0;
}
form{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 20px;
}
h1{
    text-align: center;
}
.form-section{
    border: 1px solid rgb(177, 177, 177);
    padding: 10px;
}
ul{
    padding: 0;
}
p{
    display: grid;
    grid-template-columns: 0.15fr 0.20fr 1fr;
    justify-content: space-between;
}
p > label{
    grid-column: 1/3;
}
li{
    display: grid;
    grid-template-columns: 1fr 1fr 0.05fr;
    justify-content: space-between;
}
li > label{
    grid-column: 1/3;
}
input[type="radio"], input[type="checkbox"]{
    width: 20px;
    height: 15px;
}
input[type="text"], select, input[type="tel"], input[type="email"], input[type="date"], input[type="password"]{
    height: 25px;
}
textarea{
    grid-column: 1/4;
}
progress{
    margin-left: 70%;
}