body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}  
header{
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    text-align: center;
}

footer{
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    text-align: center;
}


@media (max-width: 600px){


}