body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}  
header{
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    text-align: center;
}

footer{
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    gap: 20px;
}

.contenedorAzul{
    padding: 10px;
    background-color: rgb(159, 232, 250);
    grid-column: 1/4;
    grid-row: 1/5;
}
.contenedorRojo{
    padding: 10px;
    background-color: rgb(250, 159, 159);
    grid-column: 4/6;
    grid-row: 1/6;
}
.contenedorVerde{
    padding: 10px;
    background-color: rgb(174, 250, 159);
    grid-row: 5;
    grid-column: 1/4;
}
@media (max-width: 768px){
    section{
    grid-template-columns: none;
    }
    .contenedorAzul{
        padding: 10px;
        background-color: rgb(159, 232, 250);
        grid-column: 1/3;
        grid-row: 1/4;
    }
    .contenedorRojo{
        padding: 10px;
        background-color: rgb(250, 159, 159);
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .contenedorVerde{
        padding: 10px;
        background-color: rgb(174, 250, 159);
        grid-column: 1/3;
        grid-row: 5/6;
        
    }  
}