body{
    margin: 0;
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}  
header{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    align-items: center;
}
img{
    width: 15%;
    padding: 5px;
}
footer{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    background-color: rgb(49, 49, 49);
    color: #f8f8f8;
    text-align: center;
}
button{
    border: none;
    border-radius: 5px ;
    padding: 3px 10px;
}
.enlaces{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 600px){
    header{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .buscador{
        margin: auto;
    }
    .menu{
        text-align: center;
    }
    footer{
        grid-template-columns: 1fr;
    }

}