/* ESTILOS GENERALES */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.iconoGrande{
    font-size: 17pt;
}
.titulosMenu{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0;
}
/* MENU 1 */
.menu1{
    display: flex;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.apartadoMenu1{
    flex: 1;
    padding: 10px;
}
.apartadoMenu1:hover{
    background-color: rgb(45, 45, 150);
}
@media (max-width: 768px){
    .menu1{
        flex-direction: column;
    }
}

/* MENU 2 */

.menu2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.apartadoMenu2{
    flex: 1;
    padding: 10px;
    text-align: left;
}
.apartadoMenu2:hover{
    background-color: rgb(45, 45, 150);
}
@media (max-width: 768px){
    .apartadoMenu2{
        text-align: center;
        flex-basis: 45%;
    }
}
@media (max-width: 520px){
    .apartadoMenu2{
        flex-basis: 50%;
    }
}
/* MENÚ 3 */
.menu3{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
    
}
.apartadoMenu3{
    flex: 1;
    padding: 10px;
    text-align: center;
}
.apartadoMenu3:hover{
    background-color: rgb(45, 45, 150);
}
.submenuInicio{
    display: none;
}
.apartadoMenu3:hover .submenuInicio{
    display: block;
}
.submenuInicio > p:hover{
    background-color: rgb(120, 120, 226);
}
.menu3Contacto{
    
}
.menu3Tienda{
    
}
.menuAsistencia{
    
}
