/* ESTILOS GENERALES */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.iconoGrande{
    font-size: 17pt;
}
.titulosMenu{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0;
}
/* MENU 1 */
.menu1{
    display: flex;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.apartadoMenu1{
    flex: 1;
    padding: 10px;
}
.apartadoMenu1:hover{
    background-color: rgb(45, 45, 150);
}
@media (max-width: 768px){
    .menu1{
        flex-direction: column;
    }
}

/* MENU 2 */

.menu2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.apartadoMenu2{
    flex: 1;
    padding: 10px;
    text-align: left;
}
.apartadoMenu2:hover{
    background-color: rgb(45, 45, 150);
}
@media (max-width: 768px){
    .apartadoMenu2{
        text-align: center;
        flex-basis: 45%;
    }
}
@media (max-width: 520px){
    .apartadoMenu2{
        flex-basis: 50%;
    }
}
/* MENÚ 3 */
.menu3{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: space-around;
    text-align: center;
    color: white;
    position: relative;
    
}
.menu3Inicio, .menu3Contacto, .menu3Tienda, .menuAsistencia{
    flex: 1;
    padding: 10px;
    text-align: center;
    position: relative;
}
.subMenuContacto,
.subMenuTienda {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(100, 100, 255);
    width: 100%;
}

.menu3Inicio:hover, .menu3Contacto:hover, .menu3Tienda:hover, .menuAsistencia:hover{
    background-color: rgb(45, 45, 150);
}
.menu3Contacto:hover .subMenuContacto{
    display: block;
}
.menu3Tienda:hover .subMenuTienda {
    display: block;
}
.subMenuContacto{
    display: none;
}
.subMenuTienda{
    display: none;
}
.subMenuContacto > ul, .subMenuTienda > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.subMenuContacto > ul > li, .subMenuTienda > ul > li{
    padding: 5px;
}
.subMenuContacto > ul > li:hover, .subMenuTienda > ul > li:hover{
    background-color: rgb(233, 56, 43);
}
@media (max-width: 768px){
    .menu3{
        flex-direction: column;
    }
    .subMenuContacto,
    .subMenuTienda {
        display: block;
        position: relative;
    }
    .menu3Contacto, .menu3Tienda{
        padding: 0;
    }

}
/* MENÚ 4 */
.menu4{
    display: flex;
    background-color: rgb(120, 120, 255);
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}
.tamanoLogo{
    font-size: 20pt;
    padding: 10px 0 10px 0;
}