body{
    margin: 0;
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: grid;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 15% auto;
    width: 60%;
    justify-items: end;
}
h2{
    text-align: center;
}
form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.contenidoForm{
    display: grid;
}
.darFormatoForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 20px;
}
.contenidoDoble{
    margin-bottom: 20px;
}
input, select{
    height: 35px;
    border: 1px grey solid;
}
textarea{
    max-width:100%;
}
label{
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.tamanoInput{
    height: 15px;
    margin: 0;
}

.contenedorCheck{
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 10px;
    margin-bottom: 20px;
}
.contenedorCheck >label{
    margin: 0;
}
button{
    background-color: rgb(187, 231, 121);
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
}

button:hover{
    background-color: rgb(134, 173, 76);
}
@media (max-width: 600px){
    .darFormatoForm{
        grid-template-columns: 1fr;
    }
}