body{
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    margin: 20px auto;
}

h2{
    text-align: center;
    padding: 20px 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.contenedorDatosDoble{
    display: flex;
    justify-content:space-between;
}

input[type="text"], input[type="date"], select{
    width: 210px;
}

.contenidoInput{
    display: flex;
    flex-direction: column;
}

.contenedorIndividual input{
    width: 100%;
}

.contenedorCondiciones{
    display: flex;
}