@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
    width: 100%;
    display: grid;
    padding-top: 20px;
    background-color: map-get(v.$colors, "cabecera");

    .subCabeceraInferior {
        @include m.flexCenter(row, space-between, center);

        h2 {
            margin: 20px 0;
        }

        .subMenuIferior {
            width: 80%;
            @include m.flexCenter(row, space-between, center);

            div {
                @include m.flex-center-text;
            }
        }

        // Responsividad
        @include m.respond-to("md") {
            flex-direction: column;

            .subMenuIferior {
                width: 100%;
                flex-wrap: wrap;

                div {
                    flex: 1 1 50%;
                }
            }
        }

        @include m.respond-to("sm") {
            .subMenuIferior {
                flex-direction: column;
                align-items: center;

                div {
                    flex: 1 1 100%;
                    width: 100%;
                }
            }

            h2 {
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}