@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.subcaberezaSuperior {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    width: 60%;
    margin: auto;

    img {
        width: 100px;
    }

    .subMenuSuperior {
        @include m.flexCenter(row, space-between, center);

        div {
            @include m.flex-center-text;
        }
    }

    // Responsividad
    @include m.respond-to("lg") {
        width: 80%;
    }

    @include m.respond-to("md") {
        width: 95%;
        grid-template-columns: 0.4fr 1.6fr;

        img {
            width: 80px;
        }
    }

    @include m.respond-to("sm") {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 15px;

        img {
            width: 70px;
            margin: 0 auto;
            display: block;
        }

        .subMenuSuperior {
            flex-wrap: wrap;
            justify-content: center;

            div {
                flex: 1 1 100%;
                text-align: center;
            }
        }
    }
}