@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.subcaberezaSuperior {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    width: 60%;
    margin: auto;

    .subMenuSuperior {
        @include m.flexCenter(row, space-between, center);

        div {
            @include m.flex-center-text;
            flex: 1 1 50%;
            padding: 8px 15px;
        }

        div:hover{
            background-color: rgba(0,0,0,0.05);
            color: map-get(v.$colors, "primary");
        }
    }

    @include m.respond-to("lg") {
        width: 80%;
    }

    @include m.respond-to("md") {
        width: 95%;
        grid-template-columns: 0.4fr 1.6fr;


    }

    @include m.respond-to("sm") {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0 15px;

        .subMenuSuperior {
            flex-wrap: wrap;
            justify-content: center;

            div {
                flex: 1 1 100%;
                text-align: center;
            }
        }
    }
}