* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

header {
  width: 100%;
  display: grid;
  padding-top: 20px;
  background-color: #bdbdbd;
}
header .subCabeceraInferior h2 {
  margin: 20px 0;
  text-align: center;
}
header .subCabeceraInferior .subMenuIferior {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header .subCabeceraInferior .subMenuIferior div {
  flex: 1;
  text-align: center;
  margin: auto;
  padding: 8px 15px;
}
header .subCabeceraInferior .subMenuIferior div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 760px) {
  header .subCabeceraInferior {
    flex-direction: column;
  }
  header .subCabeceraInferior .subMenuIferior {
    width: 100%;
    flex-wrap: wrap;
  }
  header .subCabeceraInferior .subMenuIferior div {
    flex: 1 1 50%;
  }
}
@media (max-width: 560px) {
  header .subCabeceraInferior .subMenuIferior {
    flex-direction: column;
    align-items: center;
  }
  header .subCabeceraInferior .subMenuIferior div {
    flex: 1 1 100%;
    width: 100%;
  }
  header .subCabeceraInferior h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}

.subcaberezaSuperior {
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  width: 60%;
  margin: auto;
}
.subcaberezaSuperior .subMenuSuperior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subcaberezaSuperior .subMenuSuperior div {
  flex: 1;
  text-align: center;
  flex: 1 1 50%;
  padding: 8px 15px;
}
.subcaberezaSuperior .subMenuSuperior div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 1000px) {
  .subcaberezaSuperior {
    width: 80%;
  }
}
@media (max-width: 760px) {
  .subcaberezaSuperior {
    width: 95%;
    grid-template-columns: 0.4fr 1.6fr;
  }
}
@media (max-width: 560px) {
  .subcaberezaSuperior {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 15px;
  }
  .subcaberezaSuperior .subMenuSuperior {
    flex-wrap: wrap;
    justify-content: center;
  }
  .subcaberezaSuperior .subMenuSuperior div {
    flex: 1 1 100%;
    text-align: center;
  }
}

.slideshow {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slideshow__container {
  display: flex;
  width: 400%;
  height: 500px;
  animation: slide-animation 15s infinite ease-in-out;
}
@media (max-width: 760px) {
  .slideshow__container {
    height: 350px;
  }
}
@media (max-width: 560px) {
  .slideshow__container {
    height: 250px;
  }
}
.slideshow__item {
  width: 100%;
}
.slideshow__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
.contenedorProductos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}
.contenedorProductos .contenedorTarjetas {
  display: grid;
  gap: 20px;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 760px) {
  .contenedorProductos .contenedorTarjetas {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .contenedorProductos .contenedorTarjetas {
    width: 95%;
    grid-template-columns: 1fr;
  }
}
.contenedorProductos .contenedorTarjetas .tarjeta {
  position: relative;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(1) {
  animation-delay: 0.2s;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(2) {
  animation-delay: 0.4s;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(3) {
  animation-delay: 0.6s;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(4) {
  animation-delay: 0.8s;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(5) {
  animation-delay: 1s;
}
.contenedorProductos .contenedorTarjetas .tarjeta:nth-child(6) {
  animation-delay: 1.2s;
}
.contenedorProductos .contenedorTarjetas .tarjeta__masInfoManga {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(131, 131, 131, 0.582);
  color: white;
  padding: 15px;
  width: 80%;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
}
.contenedorProductos .contenedorTarjetas .tarjeta:hover .tarjeta__masInfoManga {
  display: block !important;
}
.contenedorProductos .contenedorTarjetas .tarjeta:hover img {
  filter: blur(2px) brightness(0.7);
}
.contenedorProductos .contenedorTarjetas .tarjeta img {
  width: 100%;
  max-width: 300px;
  height: 392px;
  border-radius: 10px;
  transition: 0.3s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #bdbdbd;
  text-align: center;
}
footer p {
  text-align: left;
}
footer .redesSociales {
  grid-column: 1/4;
}
footer .contenidoPie {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer form input {
  height: 30px;
  width: 60%;
  margin: 5px;
}
footer form div {
  display: flex;
}

.imgLogo {
  width: 100px;
  transition: width 0.3s ease;
}
@media (max-width: 760px) {
  .imgLogo {
    width: 80px;
  }
}
@media (max-width: 560px) {
  .imgLogo {
    width: 70px;
    margin: 0 auto;
    display: block;
  }
}

header h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 38pt;
}
header p {
  font-size: 14pt;
}

.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bdbdbd;
  width: 100%;
  list-style: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.dropdown__menu li {
  text-align: left;
  transition: background 0.3s;
  padding: 10px;
  box-sizing: border-box;
}
.dropdown__menu li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown:hover .dropdown__menu {
  display: block;
}
@media (max-width: 560px) {
  .dropdown__menu {
    position: static;
    transform: none;
    width: 100%;
    box-shadow: none;
  }
}

.btn-agregar {
  background-color: #ffffff;
  color: #ff4757;
  border: 1px solid #ff4757;
  padding: 10px 18px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  outline: none;
}

.btn-agregar:hover {
  background-color: #ff4757;
  color: #ffffff;
}

.btn-agregar:active {
  background-color: #e84118;
  border-color: #e84118;
  transform: scale(0.95);
  transition: all 0.1s ease;
}

/*# sourceMappingURL=main.css.map */
