html {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.titulo {
    text-align: center;
}
.header {
    padding-top: 3rem;
}
.navegacion {
    background-color: black;
    margin: 3rem 0;


}
.navegacion > .contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}

.navegacion a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.navegacion a:hover {
    background-color: #c9c84a;
    color: black;
}
img {
    max-width: 100%;
}
.slider img {
    width: 100%;
}
.entrada p {
    text-align: justify;
}

.informacion {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
}
.informacion p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}
.imagen1,
.imagen2 {
    text-align: center;
}
blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}
.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}
.footer a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}
.copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

/** Grid aqui**/
    main, .slider{
        width: 90%;
        margin: auto;
    }
.contenido-principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.titulo{
    grid-column: 1/4;
}
.informacion{
    grid-column: 1;
    grid-row: 2/3;
}
.entrada{
    grid-column: 2;
    grid-row: 2/5;
}
.imagen1{
    grid-column: 3;
    grid-row: 3;
}
.imagen2{
    grid-row: 4 ;
}
footer > .contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px){
    .navegacion > .contenedor{
        grid-template-columns: 1fr;
    }
    .contenido-principal{
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 30px;
    }
    .titulo{
        grid-row: 1 ;
    }
    .informacion{
        grid-row: 3;
    }
    .entrada{
        grid-column: 1;
        grid-row: 2;
    }
    .imagen1{
        grid-column: 1;
        grid-row: 4;
    }
    .imagen2{
        grid-row: 5 ;
    }
    footer > .contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}