
$colors: (
    "cabecera":   #bdbdbd,
    "background": #ffffff,
    "tarjetaGris": rgb(240, 240, 240),
    "contenidoHoverTarjeta":rgba(131, 131, 131, 0.582),
    "blanco": white
);



$breakpoints: (
    "xl": 1200px,
    "lg": 1000px,
    "md": 760px,
    "sm": 560px
);
$font-main: 'Arial';