
$colors: (
    "primary":    #FD0C3F,
    "secondary":  #0CFDCA, 
    "accent":     #F07F97, 
    "soft":       #F0B2BF,
    "background": #F7DEE4
);

$font-sizes: (
    "sm": 0.8rem,
    "md": 1rem,
    "lg": 1.5rem,
    "xl": 3rem
);

$font-main: 'Sedgwick Ave', cursive;