body{
    margin: 0;
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: grid;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 15% auto;
    width: 40%;
    justify-items: end;
}
img{
    border: 1px solid rgb(194, 194, 194);
    width: 130px;
    height: 130px;
    object-fit: cover; 
    border-radius: 50%;
}
.perfil{
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
    gap: 20px;
}
.perfilPeque{
    width: 80%;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    padding: 5px;
}
.perfilPeque >img{
    width: 100px;
    height: 100px;
}