body{
    margin: 0;
    background-color: rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 70%;
    margin: 6% auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.tarjeta{
    background-color: white;
    height: 45vh;
    border-radius: 10px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
}
h3, p{
    text-align: center;
}
img{
    width: 100%;
    height: 230px;
}
button{
    border: none;
    border-radius: 4px;
    width: 60%;
    height: 40px;
    margin: auto;
    background-color: #73df73;
    transition: transform 0.3s ease;

}
button:hover{
    background-color: #48a548;
    transform: translateY(-6px) scale(1.05)
    
}
button:active{
    background-color: #aef8ae;
}
@media (max-width: 1350px){
    section{
        width: 90%;
    }
}
@media (max-width: 950px){
    section{
        grid-template-columns: repeat(2, 1fr);
    }
    img {
        height: 280px;
    }
    .tarjeta {
        height: 50vh;
    }  
}
@media (max-width: 740px){
    img {
            height: 235px;
    }
}

@media (max-width: 550px){
    section{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 470px){
    img {
            height: 285px;
    }
}